footer{
    margin-top: 142px;
}

.link-footer-custom:hover{
    color: var(--color-a) !important;
}

.link-footer-custom{
    color: var(--color-p) !important;
}

.facebook:hover{
    color: rgb(82, 82, 255);
}

.instagram:hover{
    background: linear-gradient(to right, #FEDA75, #FA7E1E , #D62976, #962FBF , #4F5BD5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.tiktok:hover{
    background: linear-gradient(to right, #ff0050, #00f2ea);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}